requests
pandas==0.25.3
anytree
huntlib
stix-shifter
stix-shifter-utils
stix-shifter-modules-qradar
stix-shifter-modules-carbonblack
stix-shifter-modules-stix_bundle
matplotlib
scikit-learn==0.21.3
watson-machine-learning-client-V4==1.0.110
